<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Database</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        .title-margin-top {
            margin-top: 20px;
        }
    </style>
</head>
<body>
    <div class="container">
        <h2 class="title-margin-top">Database Contents</h2>
        <table class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>House Link</th>
                    <th>Price per Square Meter [€]</th>
                </tr>
            </thead>
            <tbody>
                {% for row in database_contents %}
                <tr>
                    <td>{{ row[0] }}</td>
                    <td>{{ row[1] }}</td>
                    <td>{{ row[2] }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        
        <!-- Add a return button -->
        <a href="{{ url_for('scrape') }}" class="btn btn-primary">Return to Scraping</a>
    </div>
</body>
</html>
